Package: com.zhenqu.wespyaudioenhancer
Name: WespyAudioEnhancer
Version: 1.0.0
Architecture: iphoneos-arm
Description: Audio Boost Tweak - 强制开麦/音量增益
Maintainer: zzr520520
Author: zzr520520
Section: Tweaks
Depends: mobilesubstrate
